<div class="container-fluid">
  <div class="navbar-left">
    <a href="https://i.kym-cdn.com/entries/icons/original/000/041/345/whyempty.jpg"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg></a>
  </div>
  <div class="navbar-icon">
    <a routerLink="/latest"><img width="130" alt="Subotica-info" src="https://www.subotica.info/sites/all/themes/suboticainfoV2/logo.png"/> 
  </a></div>
  <div class="navbar-right">
    <a href="https://i.kym-cdn.com/entries/icons/original/000/041/345/whyempty.jpg"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg></a>
  </div>
  

</div> 

<div class="container2" >
    <!-- <ul class="nav navbar-nav"> -->
      <li><a routerLink="/latest">Najnovije</a></li>
      <li><a routerLink="/najava">Najave za današnji dan</a></li>
      <li><a routerLink="/sport">Sport</a></li>
      <li><a routerLink="/kultura">Kultura</a></li>
      <li><a routerLink="/privreda">Privreda</a></li>
      <li><a routerLink="/zajednica">Zajednica</a></li>
      <li><a routerLink="/dailyphoto">Foto Dana</a></li>
      <li><a routerLink="/video">Video</a></li>
      <li><a routerLink="/press">Press</a></li>
      <li><a routerLink="/intervju">Intervju</a></li>
      <li><a routerLink="/tbn">TBN</a></li>
      <li><a routerLink="/panoramica">Panoramica</a></li>
    <!-- </ul> -->
</div>
<router-outlet></router-outlet>
